{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="{% block metadescription %} {% endblock %}"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="container-fluid bg-light navbar-fixed-top navbarTop">
        {% include 'top_navbar.html' %}
      </div>
      {% include 'header.html' %} 
      {% include 'navbar.html' %} 
      {% block content %} 
      {% endblock %}
    </div>
    {% include 'footer.html' %}

    <!-- Optional JavaScript -->
    <!-- jQuery JS -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- FontAwesome Kit JS -->
    <script src="{% static 'js/57a85e83d6.js' %}"></script>
  </body>
</html>
