{% extends 'base.html' %}

{% load static %}

{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the Keto World Store Where you can buy Keto Diet friendly products.  
    {%endif%}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - Keto World Store
    {% else %}
        See our Keto friendly products collections- Keto World Store 
    {% endif %}
{% endblock %}

{% block content %}
<!-- Breadcrumb Nav-->
{% if category %}
<div class="row my_cat_row">
    <div class="mx-auto">
        <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{category.name}}</p>
    </div>
</div>

{% endif %}
<div class="mx-auto">
	{% if category %}
		<img class="res_img" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
	<h1 class="text-center cat_title">{{category.name}}</h1>
	<p class="text-justify">{{category.description}}</p>
</div>
	{% else %}
	<div>
		<img class="res_img res_img_pd" src="{% static 'img/Banner1.png'%}" alt="Our Products Colection">
	</div>
	<br>
	<div>
		<h1 class="text-center cat_title">Our Products Colection </h1>
		<p class="text-justify">
			Let’s us help you to continue journey through the world of keto. Finding you the perfect helathy food and perfect kitchen tools to help you prepair awesome food. and try some of our quick and easy recipes that you can make at home. No matter where you live and what ever you need we got you covered. From Keto drink, Keto snacks to Keto sumpliments we got it all for you so that you don't have to feel sad missiong out of yummy food. Give us a try and see for yourself. 
		</p>
	</div>
	{% endif %}

	<div class="container">
		<div class="row mx-auto">
			{% for product in products.object_list %}
				<div class="cat_mg col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
					<div class="card text-center" style="min-width: 18rem;">
						<a href="{{product.get_url}}"><img class="card-img-top img-fluid" src="{{product.image.url}}" alt="{{product.name}}"></a>
						<div class="card-body">
							<h4>{{product.name}}</h4>
							<p>€{{product.price}}</p>
						</div>
					</div>
				</div> 
			{% endfor %}
		</div>
		<div class="mx-auto">
			{% if products.paginator.num_pages > 1 %}
				<hr>
				<div class="text-center">
					{% for pg in products.paginator.page_range %}
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
	</div>
{% endblock %}

